.onefund{
  padding-top: 17vh;
  overflow-x: hidden;
}

.title-1 { color: #7c795d; font-family: 'Trocchi', serif; font-size: 35px; font-weight: normal; line-height: 48px; margin: 0; }

.subheader { font-family: 'Trocchi', serif; font-size: 20px; color: #ff862f; margin-left: 2em; font-weight: normal;}

.subtext { color: #447241!important; font-size: 18px; font-weight: normal;}

.paragh-1 { 
  color: white; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 15px; 
  line-height: 32px;
  background-color: #ff862f;
  padding: 1em;
  margin: 2em;
}

.fund-profilepic{
  width: 90%;
  border-radius: 1em;
  margin-right: 2em;
}

.fund-view-btn{
  background-color: rgba(128, 128, 128, 0.342);
  outline: none;
  border: none;
  color: white;
  font-size:28px;
  font-weight: bold;
  position:absolute;
  bottom: 0;
  left: 0.75em;
  width: 12.875em;
  padding: 1em;
  border-radius: 0.5em;
}

.fund-view-btn:hover{
  background-color: rgba(128, 128, 128, 0.555);
}

.fund-donate-btn{
  background-color: #ff862f;
  outline: none;
  border: none;
  color: white;
  font-size:28px;
  font-weight: bold;
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 45%;
}

.fund-donate-btn:hover{
  box-shadow: 2px 3px 13px rgba(153, 153, 153, 0.644)
}

.each-fund {
  font-size:18px;
  border: 1px solid #d8d8d8;
  margin: auto;
  min-width: 100vh;
  text-align: left;
  margin-bottom: 2em;
}

.fund-item:nth-child(odd) {
  background-color: #ffffff93;
}

.fund-item:nth-child(even) {
  background-color: #f2f2f293;
}

.fund-item p{
  margin-top: 1em;
  margin-left: 1em;
}
