.fund-colm{
  max-width: 40em;
}

.withdraw-btn{
    color: rgba(0, 0, 0, 0.685);
    transition: .2s all ease-in-out;
    background-color: #ffffff;
    border: none;
    outline:none;
    padding: 0.75em 1.5em;
    border-radius: 1em;
}

.withdraw-btn:hover{
  background: #171A2B;
  color: white;
  box-shadow: 2px 3px 13px rgba(85, 85, 85, 0.644)
}

.withdraw-back {
  background: #171A2B;
  color: white;  
  transition: .2s all ease-in-out;
  border: none;
  outline:none;
  padding: 0.75em 1.5em;
  border-radius: 3em;
  float:left;
  margin-left: 8em;
}

.withdraw-back:hover {
  box-shadow: 2px 3px 13px rgba(85, 85, 85, 0.904)  
}