.intro{
  padding-top: 17vh; 
  margin-left: 9vw;
  text-align: left;
}

.event-grid{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-1{
  background: #f8f9fa;
  color: #447241;
  width: fit-content;
  font-weight: bold;
  padding: 0.5em;
  border-radius: 0.5em;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 90%;
  transform: scaleX(0);
  height: 0.25em;
  bottom: 0;
  left: 0;
  background-color: #ff862fd7;
  margin-bottom: 0.5em;
  margin-left: 5%;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}