.each-bill {
  min-width: 70%;
  border: 1px solid #d8d8d8;  
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: large;
  text-align: left;
}

.bill-item {
  border-collapse: collapse;
  border: none;
}

.bill-item p{
  margin-left: 1em;
  margin-top: 1em;
}

.bill-item:nth-child(odd) {
  background-color: #ffffff93;
}

.bill-item:nth-child(even) {
  background-color: #f2f2f293;
}

.row-bills{
  padding-top: 17vh;
  overflow-x: hidden;
}