.signup-container-2 {
  padding-top: 17vh;
  display: grid;
  grid-template-areas: "left right";
  max-width: 80vw;
  margin-bottom: 2em;
}

.right-container .pets-weight{
  margin-left: 1em;
}

.right-container .pets-weight .radio-container {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.pets-name label, .pets-breed label, .pets-gender label, .pets-spayed-neutered label, .pets-weight label {
  display: block;
  text-align: left;
}

.radio-container {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-block;
  padding: 5px;
  margin-right: 1em;
}

.radio-container label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: .2s all ease-in-out;
  width: 80px;
}

.radio-container input[type="radio"] {
  display: none;
}

.radio-container input[type="radio"]:checked + label {
  background: #ff872f;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.radio-container label:hover {
  cursor: pointer;
}

.upload-input::-webkit-file-upload-button {
  content: 'Choose a Photo';
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 1em;
  background: #ff872f;
  color: #fff;
}